$bp-l: 1200px;
$bp-m: 960px;
$bp-s: 640px;

$margin: 20px;
$padding: $margin;

$black: #000;
$grey: #eee;
$primary-color: #d71487;

$primary-font: "Open Sans", Helvetica, Arial, sans-serif;
$header-font: "Hepta Slab", Helvetica, Arial, sans-serif;