@import "_variables";

.app-footer {
  background: $grey;
  margin-top: $margin;
  padding: $padding 0;

  &__inner {
    justify-content: space-between;
  }

  &__list {
    list-style: none;
  }

  &__list-item {
  }

  .app-footer__link {
    color: $black;
  }
}
