.hero {
  align-items: center;
  box-sizing: border-box;
  height: 400px;
  margin-bottom: $margin;
  padding: #{2 * $padding} 0;
  position: relative;

  &__image {
    height: 400px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__inner {
    align-items: flex-start;
  }

  &__title, &__subtitle {
    color: #fff;
    margin-bottom: $margin;
  }

  &__subtitle {
    font-weight: 400;
  }
}
