@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "./styles/fonts";

@import "./styles/_helpers";
@import "./styles/_mixins";
@import "./styles/_variables";

body {
  font-family: $primary-font;
}

p,
h1,
h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $header-font;
}

h1 {
  font-size: 32px;

  @include media-medium {
    font-size: 48px;
  }
}

h2 {
  font-size: 20px;

  @include media-medium {
    font-size: 24px;
  }
}

p {
  line-height: 1.3;
}

a,
a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: lighten($primary-color, 10%);
  cursor: pointer;
  text-decoration: underline;

  @include transition(color);
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $bp-l;
  padding: 0 $padding;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$margin};

  > div,
  > section {
    flex-basis: 0;
    flex-grow: 1;
    margin: $margin;
  }
}

@import "./styles/button";
@import "./styles/card";
@import "./styles/footer";
@import "./styles/form";
@import "./styles/header";
@import "./styles/hero";
@import "./styles/navigation";

