@mixin transition($transitions) {
    -moz-transition: $transitions 0.2s ease;
      -o-transition: $transitions 0.2s ease;
     -ms-transition: $transitions 0.2s ease;
 -webkit-transition: $transitions 0.2s ease;
         transition: $transitions 0.2s ease;
}