@mixin transition($transitions) {
    -moz-transition: $transitions;
      -o-transition: $transitions;
     -ms-transition: $transitions;
 -webkit-transition: $transitions;
         transition: $transitions;
}