@import "_variables.scss";

.card {
  $this: &;

  &--horizontal {
    #{$this}__header {
      img {
        height: 100%;
        width: 200px;
      }
    }
  }

  &--vertical {
    #{$this}__header {
      img {
        height: 200px;
        width: 100%;
      }
    }
  }

  &__header {
    img {
      display: block;
      object-fit: cover;
    }
  }

  &__content {
    border: 1px solid $grey;
    flex: 1;
    min-height: 100px;
    padding: $margin;
  }

  &__title,
  &__subtitle {
    margin-bottom: $margin * 0.5;
  }

  &__subtitle {
    font-size: 90%;
  }

  &__body {
    margin-bottom: $margin;
  }

  &__link {
    margin-top: auto;
  }
}
