@import "_mixins.scss";
@import "_variables.scss";

.navigation {
  &__list {
    justify-content: space-between;
    list-style: none;
    margin-bottom: $margin;
  }

  &__list-item {
    flex: 1;
    text-align: center;
  }

  &__link {
    border-bottom: 3px solid $grey;
    color: $black;
    display: block;
    padding: $padding;
    text-decoration: none;

    @include transition(all);

    &.active {
      border-color: $primary-color;
      color: $primary-color;
    }

    &:hover:not(.active) {
      border-color: darken($primary-color, 10%);
      color: darken($primary-color, 10%);
    }
  }
}
