@import "_mixins.scss";
@import "_variables.scss";

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: $margin;
  }

  &__list-item {
    flex: 1;
    text-align: center;
  }

  &__link {
    border-bottom: 3px solid $grey;
    color: $black;
    display: block;
    padding: $margin;
    text-decoration: none;

    @include transition(all 0.2s ease);

    &.active {
      border-color: $primary-color;
      color: $primary-color;
    }

    &:hover:not(.active) {
      border-color: lighten($primary-color, 20%);
      color: lighten($primary-color, 20%);
    }
  }
}
