@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; // https://fontawesome.com/icons?d=gallery&m=free

@import "fonts";

@import "_helpers";
@import "_mixins";
@import "_variables";

body {
  font-family: $primary-font;
}

p,
h1,
h2 {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;
}

p {
  line-height: 1.3;
}

a, a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:active, a:focus, a:hover {
  color: lighten($primary-color, 10%);
  cursor: pointer;
  text-decoration: underline;
  
  @include transition(color);
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 $margin;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$margin};

  > div,
  > section {
    flex-grow: 1;
    margin: $margin;
  }

  &--two-columns {
    > div,
    > section {
      width: calc((100% / 2) - (2 * #{$margin}));
    }
  }

  &--three-columns {
    > div,
    > section {
      width: calc((100% / 3) - (2 * #{$margin}));
    }
  }
}

@import "button";
@import "card";
@import "footer";
@import "header";
@import "hero";
@import "navigation";
