@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css";

@import "_mixins.scss";
@import "_variables.scss";

@import "card.scss";
@import "navigation.scss";

body {
  font-family: Helvetica, Arial, sans-serif;
}

p,
h1,
h2 {
  margin: 0;
}

p {
  line-height: 1.3;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 $margin;
  position: relative;
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -#{$margin};

  > div,
  > section {
    flex-grow: 1;
    margin: $margin;
  }

  &--two-columns {
    > div,
    > section {
      width: calc((100% / 2) - (2 * #{$margin}));
    }
  }

  &--three-columns {
    > div,
    > section {
      width: calc((100% / 3) - (2 * #{$margin}));
    }
  }
}
